# Dependencies
backend/node_modules
client/node_modules

# Build output
/dist
/build

# Log files
*.log
npm-debug.log*

# Environment variables
backend/.env
client/.env


# System files
.DS_Store
Thumbs.db

